* {
  margin: 0;
  padding: 0;
}
/* herder */
.header-health {
  width: 100%;
  height: 9.3%;
}
.head-logo {
  display: flex;

  border-bottom: 1px solid #e9e9e9;
  padding-top: 6px;
  padding-bottom: 9px;
}
.logo {
  margin-right: 672px;
  display: flex;
  margin-left: 204px;
  width: 19.8%;
}
.logo img {
  margin-left: 1.1%;
}
.title h3 {
  font-weight: lighter;
}
.contact .phone {
  margin-right: 10px;
}
.contact {
  display: flex;
  align-items: center;
  width: 21.5%;
}
.contact h3 {
  color: #4cc1fc;
  margin-left: 0.5%;
}
.contact h4 {
  font-style: italic;
  margin-right: 5px;
  font-weight: lighter;
}

/* header-banner */
.list-li {
  display: flex;
}
.list-li li {
  padding-top: 14px;
  padding-bottom: 14px;
  list-style-type: none;
  padding-left: 10px;
  border-right: 1px solid #e9e9e9;
}

.list-li a {
  display: block;
  color: #b3b3b3;
  padding-right: 14px;
  font-size: 18px;

  text-decoration: none;
}
.list-li .list-item {
  border: 0;
}
.head-nav {
  display: flex;
}
.head-nav nav {
  margin-left: 236px;
  margin-right: 335px;
}
.head-nav img {
  padding-top: 14px;
  padding-bottom: 14px;
  margin-right: 0.7%;
}
.list-li a:hover {
  color: #4cc1fc;
}

/* --- */
.banner img {
  width: 100%;
  position: relative;
}
.banner nav {
  position: absolute;
  margin-top: -6%;
  margin-left: 11.2%;
}
.banner .banner-nav a {
  text-decoration: none;
  color: #2b363d;
}

/* sidebar-content */
.health-content {
  display: flex;
  padding-top: 6.6%;
  padding-left: 11.2%;
  width: 77.6%;
}
.health-sidebar {
  /* float: left; */
  width: 18.4%;
  margin-right: 1.4%;
}

/* ---faqs-- */
.faqs {
  height: 23.3%;
  margin-bottom: 2.6%;
  list-style-type: none;
}
.group-list-one .list-item-one {
  list-style-type: disc;
  margin-left: 31px;
  color: #92999d;
}
.group-list-one .list-item-one a {
  line-height: 2;
  padding-left: 1.3%;
  text-decoration: none;
  color: #30393f;
}
.group-list-one .list-item-one a:hover {
  color: #4cc1fc;
}


.question h3 {
  padding: 10px;
}
.faqs .question {
  height: 3%;
  padding-left: 1.4%;

  background-color: #d9e4e9;
}

form {
  padding: 1.5% 1.2% 1.1% 1.2%;
  background-color: #d9e4e9;
  height: 400px;
}
form h2 {
  font-size: 23px;
  padding: 10px 10px 10px 22px;
}
form hr {
  width: 27.5%;
  color: #62c6f8;
  margin-left: 24px;
}
form img {
  margin: -30px 203px 26px;
}
input {
  width: 81.2%;
  height: 9.4%;
  display: block;
  margin-left: 23px;
  margin-top: 18px;
}
button {
  display: block;
  background-color: #4bbc56;
  color: white;
  width: 33.8%;
  height: 8.8%;
  margin-top: 10px;
  margin-left: 77px;
  border-color: #4bbc56;
}

.list-content {
  /* width: 57.8%; */
  width: 82.8%;
  display: flex;
  flex-wrap: wrap;
}
.content {
  /* width: 18.4%; */
  width: 31.4%;
  height: 32.1%;
  margin-right: 1.3%;
  margin-bottom: 1.4%;
  display: block;
  border: 1px solid #ebebeb;
}
.img-100 {
  width: 100%;
}
.content-intro img {
  float: right;
}
.content-intro h3,
p {
  padding: 1.3% 4.4% 5.3% 5.4%;
}

/* footer */
.foot-info {
  height: 15.3%;
  background-color: #62c6f8;
  margin-top: 1.9%;
}
.info {
  width: 100%;
  height: 12%;
  border-bottom: 1px solid gray;
  display: inline-flex;
}
.list-info .group-list {
  margin-left: 19px;
}
.list-info ul li {
  line-height: 2em;
}
.info1 {
  margin-left: 11.2%;
}
.list-info {
  margin-right: 15.6%;
  color: white;
  padding-top: 2.6%;
  padding-bottom: 2.3%;
}
.copyright {
  margin-top: 1.4%;
  padding-bottom: 1.6%;
}
.group-list-three {
  margin-left: -10px;
}
.group-list-three .icon{
  display: flex;
  align-items: center;

}
.icon {
  margin-left: 11px;
}
.icon img{
  margin-right: 7px;
}
.copyright span {
  color: #f7fbff;
}
.copy {
  margin-left: 11.2%;
  margin-right: 45.4%;
}
