* {
  margin: 0;
  padding: 0;
}

/*------- header----- */
.header-full {
  width: 100%;
}
/* header-top */
.header-top {
  top: 0;
  border-bottom: 1px solid #e9e9e9;
}
.header-top .container {
  padding: 6px 22px 9px 22px;
  margin: 0 auto;
  max-width: 72rem;
}
.header-wrap {
  display: flex;
  width: 100%;
}
.header-logo {
  margin-right: 694px;
  display: flex;
  align-items: center;
}
.logo-img {
  margin-right: 20px;
  width: 4rem;
  height: 4.1rem;
}
@font-face {
  font-family: "UTMAvoBold";
  font-style: normal;
  font-weight: normal;
  src: url("fontfamily/utm-avobold.woff") format("woff");
}
.title-clinic {
  color: #0d1d25;
  font-size: 23px;
  text-transform: uppercase;
  font-family: "UTMAvoBold";
}
@font-face {
  font-family: "UTM Avo";
  font-style: normal;
  font-weight: normal;
  src: url("fontfamily/utm-avo.woff") format("woff");
}
.title .title-phys {
  /* font-weight: lighter; */
  color: #485054;
  font-family: "UTM Avo";
  font-size: 18.5px;
}

.header-contact {
  display: flex;
  align-items: center;
}
.phone-img {
  margin-right: 10px;
  width: 1.9rem;
  height: 1.9rem;
}
.title-question {
  margin-right: 11px;
  color: #828282;
  font-style: italic;
  font-size: 16px;

  font-family: Arial, Helvetica, sans-serif;
}
.title-number {
  color: #4cc1fc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/* header-nav */
.header-nav .container {
  padding-left: 22px;
  padding-right: 22px;
  margin: 0 auto;
  display: flex;
  max-width: 72rem;
}
.navigation {
  margin-left: 7px;
  margin-right: 381px;
}
.menu-list {
  display: flex;
}
.menu-item {
  padding: 19px 24px 16px 24px;

  list-style-type: none;
  border-right: 1px solid #e9e9e9;
}
.menu-link {
  color: #b3b3b3;
  text-decoration: none;
  font-size: 14px;

  font-family: Arial, Helvetica, sans-serif;
}
#menu-link-6 {
  border: 0;
}
.follow-img {
  padding-top: 14px;
  padding-bottom: 14px;
  margin-left: 11px;
  width: 1.4rem;
  height: 1.4rem;
}

.menu-list .menu-link:hover {
  color: #4cc1fc;
}

/* -----section-banner-- */
.banner-img {
  width: 100%;
  position: relative;
}
.breadcrumb {
  margin-top: -104px;
  margin-left: 197px;
  display: flex;
  list-style-type: none;
  position: absolute;
}
.breadcrumb-item {
  font-size: 14px;
  font-family: "UTM Avo";
}
.breadcrumb-link {
  text-decoration: none;
}
.breadcrumb-item + .breadcrumb-item::before {
  padding: 17px;
  color: black;
  content: "/\00a0";
}

/* section-services */
.section-services {
  padding-top: 73px;
}
.section-services .container {
  padding-left: 22px;
  padding-right: 22px;
  margin: 0 auto;
  max-width: 72rem;

  display: flex;
}
.services-sidebar {
  width: 17rem;
}

/* ---faqs-group-- */
.faqs-group {
  margin-bottom: 42px;
}
.menu-list-faqs {
  list-style-type: none;
}
.faqs-title {
  padding: 19px;
  margin-bottom: 13px;
  background-color: #d9e4e9;
}
.title-person {
  color: #29353c;
  font-weight: lighter;
  font-size: 14px;
  font-family: "UTM Avo";
}
.title-adults::after {
  content: url("images/minus.png");
  margin-left: 244px;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.title-children::after {
  content: url("images/plus.png");
  margin-left: 226px;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.menu-list-adults {
  margin-left: 18px;
}
.menu-item-adults {
  margin-left: 18px;
  color: #92999d;
  list-style-type: disc;
}
.menu-item-adults a {
  text-decoration: none;
  color: #30393f;
  line-height: 1.8rem;
  font-size: 14px;
  font-family: "UTM Avo";
}

.menu-item-adults a:hover {
  color: #4cc1fc;
}

.form-sidebar {
  padding: 23px 24px 17px 20px;
  background-color: #d9e4e9;
}
.title-form {
  padding-bottom: 20px;
  font-size: 21px;
  font-family: "UTMAvoBold";
}
.form-sidebar hr {
  margin-bottom: 15px;
  background-color: #62c6f8;
  width: 26.5%;
  height: 1px;
}

input {
  margin-bottom: 16px;
  width: 100%;
  height: 2.2rem;
  display: block;
}
input::placeholder {
  padding-left: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #0d1d25;
  font-size: 15px;
}
.form-sidebar .time-img {
  margin: -80px 269px 46px;
  width: 1.16rem;
}
button {
  margin: auto;
  margin-top: -26px;
  background-color: #4bbc56;
  color: white;
  display: block;

  width: 7.3rem;
  height: 2.81rem;
  font-size: 16px;
  font-family: "UTMAvoBold";
  /* font-weight: bold; */
  border-color: #4bbc56;
}
/* services-list */
.services-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.services-item {
  margin-left: 25px;
  margin-bottom: 21px;
}
.services-wrap {
  width: 16.9rem;
  border: 1px solid #ebebeb;
}
.services-img {
  width: 16.9rem;
  height: 10.5rem;
}
.content-wrap {
  padding: 22px 37px 38px 24px;
}
.services-title {
  font-size: 18.5px;
  font-family: Arial, Helvetica, sans-serif;

  text-transform: uppercase;
}
.content-wrap .paragraph {
  margin-top: 13px;
  font-size: 15.2px;
  font-family: Arial, Helvetica, sans-serif;
}

.next-img {
  margin-top: -15px;
  margin-left: 323px;
  position: absolute;
}

/* footer-information */
.footer-information {
  margin-top: 38px;
  width: 100%;
  background-color: #62c6f8;
}
.section-information {
  border-bottom: 1px solid #e9e9e9;
}
.section-information .container {
  padding: 47px 22px 37px 22px;
  margin: 0 auto;
  max-width: 72rem;

  display: flex;
}
.info-detail {
  margin-right: 267px;
}
.title-info {
  margin-bottom: 16px;
  color: white;
  font-size: 20px;
  font-family: "UTMAvoBold";
}
.menu-list-info {
  padding-left: 19px;
}
.menu-item-info {
  line-height: 1.7rem;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
.menu-list-icon {
  margin-left: -19px;
}
.menu-icon {
  display: flex;
  align-items: center;
}
.menu-icon .icon-info {
  margin-right: 7px;
  width: 1.4rem;
  height: 1.4rem;
}

.foot-info {
  margin-top: 1.9%;
  height: 15.3%;
  background-color: #62c6f8;
}
.section-copyright .container {
  padding: 20px 22px 21px 22px;
  margin: 0 auto;
  max-width: 72rem;
}
.container::after {
  clear: both;
  content: "";
  display: block;
}
.copyright-left {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 13.9px;
}
.copyright-right {
  text-transform: uppercase;
  float: right;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13.9px;
  display: flex;
}
.copyright-right p {
  margin-left: 1px;
  color: #86ffbf;
}
