* {
  margin: 0;
  padding: 0;
}
/* herder */
.header-health {
  width: 100%;
  height: 9.3%;
}
.head-logo {
  display: flex;

  border-bottom: 1px solid rgb(216, 209, 209);
  padding-top: 0.6%;
  padding-bottom: 1%;
}
.logo {
  margin-right: 37.3%;
  display: flex;
  margin-left: 11.2%;
  width: 19.8%;
}
.logo img {
  margin-left: 1.1%;
}
.title h3 {
  font-weight: lighter;
}

.contact {
  display: flex;
  align-items: center;
  width: 20.5%;
}
.contact h3 {
  color: #4cc1fc;
  margin-left: 0.5%;
}
.contact h4 {
  font-style: italic;
}

/* header-banner */
ul {
  list-style-type: none;
}

.list-li li {
  float: left;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

li a {
  display: block;
  color: #b3b3b3;
  padding-right: 14px;
  font-size: 18px;

  text-decoration: none;
}

.head-nav {
  display: flex;
}
.head-nav nav {
  /* margin-right: auto; */
  margin-left: 12.9%;
  margin-right: 22%;
}
.head-nav img {
  padding-top: 14px;
  padding-bottom: 14px;
  margin-right: 0.7%;
}

/* --- */
.banner img {
  width: 100%;
  position: relative;
}
.banner nav {
  position: absolute;
  margin-top: -6%;
  margin-left: 11.2%;
}
.banner nav a {
  text-decoration: none;
  color: #2b363d;
}

/* sidebar-content */
.health-content {
  margin-left: 11.2%;
  margin-top: 6.6%;
  width: 77.6%;
}
.health-sidebar {
  float: left;
  width: 18.4%;
  margin-right: 1.4%;
}

/*  */
.faqs {
  height: 23.3%;
  margin-bottom: 2.6%;
}
.faqs ul li a {
  line-height: 2;
  padding-left: 1.3%;
}

.faqs .question {
  height: 3%;
  padding-left: 1.4%;

  background-color: #d9e4e9;
}

form {
  padding: 1.5% 1.2% 1.1% 1.2%;
  background-color: #d9e4e9;
  height: 400px;
}
form h2 {
  font-size: 18px;
}
form hr {
  width: 27.5%;
  color: #62c6f8;
}
input {
  width: 68.2%;
  height: 7.4%;
  display: block;

  margin-left: 16%;
  margin-top: 6%;
}
button {
  display: block;
  background-color: #4bbc56;
  color: white;
  width: 33.8%;
  height: 8.8%;
  margin-top: 6%;
  margin-left: 31%;
}
form img {
  margin: -12% 73% 9%;
}

.list-content {
  /* width: 57.8%; */
  width: 73.8%;
  display: flex;
  flex-wrap: wrap;
}
.content {
  /* width: 18.4%; */
  width: 31.4%;
  height: 19.1%;
  margin-right: 1.3%;
  margin-bottom: 1.4%;
  display: block;
  border: 1px solid #ebebeb;
}
.img-100 {
  width: 100%;
}
.content-intro img {
  float: right;
}
.content-intro h3,
p {
  padding: 1.3% 4.4% 5.3% 5.4%;
}

/* footer */
.foot-info {
  height: 15.3%;
  background-color: #62c6f8;
  margin-top: 1.9%;
}
.info {
  width: 100%;
  height: 12%;
  border-bottom: 1px solid gray;
  display: inline-flex;
}
.list-info ul li {
  line-height: 2em;
}
.info1 {
  margin-left: 11.2%;
}
.list-info {
  margin-right: 15.6%;
  color: white;
  padding-top: 2.6%;
  padding-bottom: 2.3%;
}
.copyright {
  margin-top: 1.4%;
  padding-bottom: 1.6%;
}
.copyright span {
  color: #f7fbff;
}
.copy {
  margin-left: 11.2%;
  margin-right: 45.4%;
}
